<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
    <script src="https://code.jquery.com/jquery.js"></script>
    <title>Project Boolean</title>
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <h1><span class="project">Project</span><img src="/assets/images/Logo.png" class="logo"></h1>
        </header>
        
        <div class="user-control">
            <p class="logged-as">Logged in as <a href="/surveys" class="member-name"></a></p>
            <button onclick="window.location.href='/logout'" id="logout-Btn" class="actionBtn">Log Out</button>
        </div>

        {{{body}}}
        
        <footer class="footer">
            <ul class="links">
                <li id="github">Check out the GitHub repo <a href="https://github.com/damianjuan/project2/tree/master">here!</a></li>
            </ul>
        </footer>
    </div>
</body>

<script src="/js/index.js"></script>

</html>
