<div class="container">

  <form id="survey">
    <div class="form-group">
      <label for="surveyTitle">Title</label>
      <input type="text" class="form-control" id="surveyTitle" placeholder="Survey Title">
    </div>
    <div class="form-group">
      <label for="question1">Question 1:</label>
      <input type="text" class="form-control" id="question1" placeholder="Write your question">
    </div>
    <div class="form-group">
      <label for="question2">Question 2:</label>
      <input type="text" class="form-control" id="question2" placeholder="Write your question">
    </div>
    <div class="form-group">
      <label for="question3">Question 3:</label>
      <input type="text" class="form-control" id="question3" placeholder="Write your question">
    </div>
    <div class="form-group">
      <label for="question4">Question 4:</label>
      <input type="text" class="form-control" id="question4" placeholder="Write your question">
    </div>
    <div class="form-group">
      <label for="question5">Question 5:</label>
      <input type="text" class="form-control" id="question5" placeholder="Write your question">
    </div>

    <button type="button" class="btn btn-lg" id="createSurveyBtn">Submit</button>

</div>
</form>
</div>
<script src="/js/survey/createSurvey.js"></script>