<main class="input-container">
    <header class="input-header">
        <h2>Log In or Sign Up</h2>
    </header>

    <section class="inputs">
        <form class="inputs-form">
            <div class="form-grid">
                <label for="login-email" class="form-prompt">E-mail:</label>
                <input type="email" id="login-email" placeholder="youremail@email.com" class="textfield">

                <label for="login-password" class="form-prompt">Password:</label>
                <input type="password" id="login-password" placeholder="password" class="textfield">
            </div>

            <input type="submit" value="Submit" id="submitBtn" class="submitBtn">
        </form>

        <a href="/signUp" class="signup-link">Click here to sign up!</a>
    </section>
</main>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/login.js"></script>