<main class="signUp-container">
    <header class="input-header">
        <h2>Sign Up Here!</h2>
    </header>

    <section class="inputs">
        <form class="inputs-form">
            <div class="form-grid">
                <label for="username" class="form-prompt">Username:</label>
                <input type="text" id="userName" class="textfield" name="username">

                <label for="signUp-email" class="form-prompt">E-mail:</label>
                <input type="email" id="signUp-email" class="textfield" name="email">

                <label for="signUp-password" class="form-prompt">Password:</label>
                <input type="password" id="signUp-password" class="textfield" name="password">
            </div>
            
            <input type="submit" value="submit" id="submitBtn" name="submit">
        </form>
    </section>
</main>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>