<main class="input-container">
    <header class="input-header">
        <h2>Sign Up Here!</h2>
    </header>

    <section class="inputs">
        <form class="inputs-form">
            <div class="form-grid">

                <label for="signUp-email" class="form-prompt">E-mail:</label>
                <input type="email" id="signUp-email" placeholder="youremail@email.com" class="textfield">

                <label for="signUp-password" class="form-prompt">Password:</label>
                <input type="password" id="signUp-password" placeholder="password" class="textfield">
            </div>

            <input type="submit" value="Submit" id="submitBtn" class="submitBtn">
        </form>
    </section>
</main>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/signup.js"></script>