<main class="input-container">
    <header class="input-header">
        <h2>Welcome!</h2>
        <p>You have logged in</p>
    </header>

    <section class="inputs">
        <button class="submitBtn" id="start">Create Survey</button>
    </section>
</main>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>