<main class="input-container">
    <header class="input-header">
        <h2>Log In or Sign Up</h2>
    </header>

    <section class="inputs">
        <a>You have logged in</a>
        <a>You have logged in</a>
    </section>
</main>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>