<main class="input-container">
    <header class="input-header">
        <h2>Welcome <span class="member-name"></span></h2>
        <button id="logout-Btn">Log Out</button>
    </header>

    <section class="inputs">
        <ul>
            {{#each Surveys}}
            <li>
                {{survey_title}}
                <button href="/surveys/{{id}}/take" id="takeBtn" class="actionBtn">Take</button>
                <button href="/surveys/{{id}}/results" id="result-Btn" class="actionBtn">Result</button>
                <button href="/surveys/{{id}}/delete" id="delete-Btn" class="actionBtn">Delete</button>
            </li>
            <hr>
            {{/each}}
        </ul>
        <button class="submitBtn" id="start">Create Survey</button>
    </section>
</main>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>