html,
body {
  height: 100%;
  color: #2d2169;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.header {
  background-color: #2a8460;
  padding: 3rem;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 3.25rem;
  color: white;
  text-align: center;
}

.logo {
  width: 10rem;
}

.user-control {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10.375rem;
  padding: 0.75rem;
  background-color: #d1d1d1;
  border-radius: 0 0 0 0.5rem;
  text-align: center;
}

#logout-Btn {
  margin-top: 0.75rem;
}

main {
  padding-bottom: 8rem;
}

.input-header {
  background-color: #2a8460;
  width: 80%;
  margin: 8rem auto 0;
  padding: 2rem;
  text-align: center;
  border-radius: 0.75rem 0.75rem 0 0;
}

p {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2.75rem;
  color: white;
}

.inputs {
  width: 80%;
  background-color: #d1d1d1;
  margin: auto;
  padding: 2rem;
  border-radius: 0 0 0.75rem 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs-form {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
}

.form-grid {
  margin: 2rem;
  width: 80%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 2rem;
}

.form-group {
  width: 100%;
}

li {
  list-style: none;
  font-size: 1.75rem;
}

.actionBtn,
.deleteBtn {
  background-color: #36ab7c;
  border: none;
  border-radius: 0.25rem;
  padding: 0 1rem;
  margin-left: 0.25rem;
}

.form-prompt {
  font-size: 1.75rem;
  margin-right: 2rem;
  text-align: right;
}

.form-check-label {
  font-size: 1.75rem;
}

.survey-input {
  height: 6rem;
  width: 100%;
}

.textfield {
  height: 3rem;
  width: 16rem;
}

.submitBtn {
  margin: 0.75rem 0 1rem 0;
  border: none;
  font-size: 2rem;
  padding: 0.25rem 2rem;
  border-radius: 0.75rem;
  background-color: #c09919;
}

h3 {
  margin-bottom: 0.75rem;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.links {
  display: flex;
  justify-content: center;
  width: 80%;
  list-style: none;
}

#github {
  flex: 1;
  font-size: 1.75rem;
  text-align: center;
}

a {
  color: #0000ee;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header {
    padding: 1.5rem;
    width: 100%;
  }

  h1 {
    font-size: 2.5rem;
  }

  .project {
    display: none;
  }

  .user-control {
    position: static;
    margin-top: 0;
    padding: 0.5rem;
    background-color: #d1d1d1;
    border-radius: 0 0 0.5rem 0.5rem;
  }

  #logout-Btn {
    margin-top: 0.5rem;
  }

  main {
    padding-bottom: 3rem;
  }

  .input-container {
    width: 100%;
  }

  .input-header {
    margin: 2rem auto 0;
    width: 100%;
    padding: 1rem;
    border-radius: 0;
  }

  h2 {
    font-size: 1.75rem;
  }

  .inputs {
    width: 100%;
    padding: 1rem;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-grid {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
  }

  .form-prompt {
    font-size: 1.75rem;
    margin-right: 0;
    text-align: center;
  }

  ul {
    padding: 0.25em;
    margin: 0;
    text-align: center;
  }

  .survey-title {
    display: block;
    font-size: 1.5rem;
  }

  .note {
    color: white;
  }

  li {
    font-size: 1.25rem;
  }

  .form-check-label {
    font-size: 1rem;
  }

  .submitBtn {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
    padding: 0.25rem 2rem;
    border-radius: 0.5rem;
    background-color: #c09919;
  }

  h3 {
    margin-bottom: 0.5rem;
  }

  .links {
    display: flex;
    justify-content: center;
    width: 100%;
    list-style: none;
  }

  #github {
    flex: 1;
    font-size: 1rem;
    text-align: center;
  }
}
